<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sanchit.Upsilon">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:name=".Upsilon"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".PDFViewActivity"></activity>
        <activity android:name=".AssignmentTeacherActivity" />
        <activity android:name=".ClassActivityTeacher" />
        <activity android:name=".ClassActivity" />
        <activity android:name=".pdfUpload.pdfPlayground" />
        <activity android:name=".TestActivity" />
        <activity android:name=".TestCreationActivity" />
        <activity android:name=".TestCreateActivity" />
        <activity
            android:name=".AssignmentActivity"
            android:label="@string/title_activity_assignment" />
        <activity android:name=".PaymentLogActivity" />
        <activity android:name=".GetStartedAsTeacherActivity" />
        <activity android:name=".TeacherDataSetupActivity" />
        <activity android:name=".TeacherInfoActivity" />
        <activity android:name=".UserDataSetupActivity" />
        <activity android:name=".ResetPasswordActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="stitch-statichosting-prod.s3.amazonaws.com"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".WalletActivity" />
        <activity android:name=".AddCoursePayment" />

        <meta-data
            android:name="cloudinary://937567483347128:wQLZU0pYv4hJt1sqF9fHB1uuEs8@upsilon175"
            android:value="cloudinary://@upsilon175" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAp3s5yvUwCfKcOtBsCZNgXlFbubc1eN9Y" />

        <activity
            android:name=".ui.login.LoginActivity"
            android:label="Upsilon" />
        <activity android:name=".TeachActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.login.SignUpActivity" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".UserDataSetupActivity1" />
        <activity android:name=".UserDataSetupActivity2" />
        <activity android:name=".UserDataSetupActivity3" />
        <activity android:name=".AddCourseActivity" />
        <activity android:name=".AddCourseActivityContinued" />
        <activity android:name=".ViewCourseActivity" />
        <activity android:name=".CoursesTaughtActivity" />
        <activity android:name=".RegisterCourseActivity" />
        <activity android:name=".ProfileViewActivity" />
        <activity android:name=".TeacherViewCourseActivity" />
        <activity android:name=".RegisteredStudentViewCourse" />
        <activity android:name=".ExploreActivity" />
        <activity android:name=".Terms" />
        <activity android:name=".ContactUs" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".FAQ" />
        <activity android:name=".courseLocationMap.MapsActivity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <service
            android:name=".courseLocationMap.FetchAddressIntentService"
            android:exported="false" />
        <service
            android:name=".notifications.UpsilonJobService"
            android:enabled="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".notifications.NotifService"
            android:enabled="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver
            android:name=".notifications.UpsilonBroadcastReciever"
            android:enabled="true"
            android:exported="true"
            android:label="RestartServiceWhenStopped" />
    </application>

</manifest>